<a href="https://colab.research.google.com/github/RManisha27/Luxury_Housing_Sales_Analysis/blob/main/Luxury_house_sale_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pimport pandas as pd
import numpy as np
from sqlalchemy import create_engine, text
import plotly.express as px
import csv
import requests
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import re
import warnings
warnings.filterwarnings('ignore')
import os
import psycopg2
%matplotlib inline

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Luxury_Housing_Bangalore.csv to Luxury_Housing_Bangalore.csv

In [ ]:
luxury_housing_df = pd.read_csv('Luxury_Housing_Bangalore.csv')
luxury_housing_df.head()

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,Connectivity_Score,Amenity_Score,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4bhk,12.750846039118798,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292151871065954,Primary,Other,2024-06-30,4.839024,NaN,Under construction,NRI Desk,no,7.723898,106,NaN
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4bhk,10.517724412961911,Primary,HNI,2023-12-31,8.131315,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.
3,PROP000004,bellary road,Project_3,Embassy,6192.0,3BHK,9.396367494232896,Primary,HNI,2024-03-31,7.501657,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4Bhk,15.345392444511946,Secondary,HNI,2024-12-31,4.525216,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.

In [ ]:
luxury_housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Property_ID           101000 non-null  object
 1   Micro_Market          101000 non-null  object
 2   Project_Name          101000 non-null  object
 3   Developer_Name        101000 non-null  object
 4   Unit_Size_Sqft        90954 non-null   float64
 5   Configuration         101000 non-null  object
 6   Ticket_Price_Cr       90981 non-null   object
 7   Transaction_Type      101000 non-null  object
 8   Buyer_Type            101000 non-null  object
 9   Purchase_Quarter      101000 non-null  object
 10  Connectivity_Score    101000 non-null  float64
 11  Amenity_Score         90910 non-null   float64
 12  Possession_Status     101000 non-null  object
 13  Sales_Channel         101000 non-null  object
 14  NRI_Buyer             101000 non-null  object
 15  Locality_Infra_Score  101000 non-null  float64
 16  Avg_Traffic_Time_Min  101000 non-null  int64
 17  Buyer_Comments        82713 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 13.9+ MB

In [ ]:
luxury_housing_df.shape

(101000, 18)

In [ ]:
luxury_housing_df.describe()

,Unit_Size_Sqft,Connectivity_Score,Amenity_Score,Locality_Infra_Score,Avg_Traffic_Time_Min
count,90954.000000,101000.000000,90910.000000,101000.000000,101000.000000
mean,5972.274765,6.992619,7.503663,7.498426,67.182921
std,1783.397836,1.731757,1.440758,1.443128,30.271611
min,-1.000000,4.000031,5.000224,5.000013,15.000000
25%,4477.250000,5.494526,6.260329,6.247954,41.000000
50%,5990.000000,6.985805,7.499123,7.495614,67.000000
75%,7497.000000,8.490000,8.752207,8.749824,93.000000
max,8999.000000,9.999970,9.999865,9.999956,119.000000

In [ ]:
luxury_housing_df.dtypes

Property_ID              object
Micro_Market             object
Project_Name             object
Developer_Name           object
Unit_Size_Sqft          float64
Configuration            object
Ticket_Price_Cr          object
Transaction_Type         object
Buyer_Type               object
Purchase_Quarter         object
Connectivity_Score      float64
Amenity_Score           float64
Possession_Status        object
Sales_Channel            object
NRI_Buyer                object
Locality_Infra_Score    float64
Avg_Traffic_Time_Min      int64
Buyer_Comments           object
dtype: object

In [ ]:
luxury_housing_df.duplicated().sum()

np.int64(1000)

In [ ]:
luxury_housing_df.isnull().sum()

Property_ID                 0
Micro_Market                0
Project_Name                0
Developer_Name              0
Unit_Size_Sqft          10046
Configuration               0
Ticket_Price_Cr         10019
Transaction_Type            0
Buyer_Type                  0
Purchase_Quarter            0
Connectivity_Score          0
Amenity_Score           10090
Possession_Status           0
Sales_Channel               0
NRI_Buyer                   0
Locality_Infra_Score        0
Avg_Traffic_Time_Min        0
Buyer_Comments          18287
dtype: int64

In [ ]:
def load_data(path: str) -> pd.DataFrame:
    """Load raw CSV data."""
    return pd.read_csv(path)

In [ ]:
def drop_duplicates(df: pd.DataFrame) -> pd.DataFrame:
    """Remove duplicate rows and report how many were dropped."""
    before = df.shape[0]   # number of rows before
    df = df.drop_duplicates()
    after = df.shape[0]    # number of rows after
    print(f"Dropped {before - after} duplicate rows.")
    return df

#Type conversion
def convert_types(df: pd.DataFrame) -> pd.DataFrame:
    """Convert necessary columns to proper dtypes."""
    df['Purchase_Quarter'] = pd.to_datetime(df['Purchase_Quarter'], errors='coerce')
    df['Ticket_Price_Cr'] = pd.to_numeric(df['Ticket_Price_Cr'], errors='coerce')
    return df

#Normalization
def normalize_columns(df: pd.DataFrame) -> pd.DataFrame:
    """Normalize column names and key fields."""
    # Strip whitespace from column names
    df.columns = df.columns.str.strip()
    # Clean up Ticket_Price_Cr
    df['Ticket_Price_Cr'] = (
        df['Ticket_Price_Cr']
        .astype(str)
        .str.replace("", "", regex=False)
        .str.replace("Cr", "", regex=False)
        .str.replace(",", "", regex=False)
        .str.strip()
        .astype(float)
    )
    # Normalize categorical text fields
    text_cols = [
        "Micro_Market", "Project_Name", "Developer_Name",
        "Configuration", "Transaction_Type", "Buyer_Type",
        "Purchase_Quarter", "Possession_Status", "Sales_Channel",
        "Buyer_Comments", "NRI_Buyer"
    ]
    for col in text_cols:
        if col in df.columns:
            df[col] = df[col].astype(str).str.strip().str.title()
    return df

# converting -1 values to positive values
def absolute_values(df: pd.DataFrame) -> pd.DataFrame:
    """Convert possible negative numbers to absolute."""
    for col in ['Unit_Size_Sqft', 'Ticket_Price_Cr']:
        if col in df.columns:
            df[col] = df[col].abs()
    return df

#Handling missing values
def handle_missing_values(df: pd.DataFrame) -> pd.DataFrame:
    """Fill and handle missing values for numeric and categorical columns."""
    print(" Handling missing values...")

    # Step 1: Define numeric columns explicitly
    numeric_cols = ["Unit_Size_Sqft", "Ticket_Price_Cr", "Amenity_Score"]

    for col in numeric_cols:
        if col in df.columns:
            # Convert to numeric safely (ignore non-numeric values)
            df[col] = pd.to_numeric(df[col], errors='coerce')
            median_value = df[col].median(skipna=True)
            df[col] = df[col].fillna(median_value)
            print(f" Filled missing values in numeric column '{col}' with median = {median_value}")

    # Step 2: Handle Buyer_Comments separately
    if "Buyer_Comments" in df.columns:
        df["Buyer_Comments"] = df["Buyer_Comments"].replace(["Nan", "nan", "NaN"], np.nan)
        df["Buyer_Comments"] = df["Buyer_Comments"].fillna("No Comments Provided")
        print("Filled missing Buyer_Comments with 'No Comments Provided'")

    # Step 3: General categorical fill (for other text columns if any)
    for col in df.select_dtypes(include="object").columns:
        if col != "Buyer_Comments":  # Already handled
            mode_value = df[col].mode()[0]
            df[col] = df[col].fillna(mode_value)
            print(f" Filled missing values in categorical column '{col}' with mode = {mode_value}")
    return df

In [ ]:
def derive_columns(df: pd.DataFrame) -> pd.DataFrame:
    """Add derived/feature columns."""
    # Price per Sqft
    df['Price_per_Sqft'] = (df['Ticket_Price_Cr'] * 1e7) / df['Unit_Size_Sqft']
    # Reconvert date if needed and extract quarter/year
    df['Purchase_Quarter'] = pd.to_datetime(df['Purchase_Quarter'], errors='coerce')
    df['Quarter_Number'] = df['Purchase_Quarter'].dt.quarter
    df['Year'] = df['Purchase_Quarter'].dt.year
    # Booking Flag
    df['Booking_Flag'] = df['Transaction_Type'].apply(lambda x: 1 if str(x).lower() == "primary" else 0)
    return df

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Make plots appear inline
%matplotlib inline
sns.set(style="whitegrid")

# Load Dataset
# The file is already uploaded to the Colab environment, so we can access it directly by name.
df = pd.read_csv('Luxury_Housing_Bangalore.csv')

# EDA Function
def eda_plots(df):
    print("===== Univariate Analysis ====")
    # Numeric columns
    numeric_cols = ['Ticket_Price_Cr','Unit_Size_Sqft','Price_per_Sqft']
    for col in numeric_cols:
        if col in df.columns:
            plt.figure(figsize=(8,4))
            sns.histplot(df[col], bins=50, kde=True)
            plt.title(f"Distribution of {col}")
            plt.show()

    # Categorical columns
    cat_cols = ['Transaction_Type','Buyer_Type','Configuration','Possession_Status','Sales_Channel']
    for col in cat_cols:
        if col in df.columns:
            plt.figure(figsize=(8,4))
            df[col].value_counts(normalize=True).plot(kind='bar', color='skyblue')
            plt.title(f"Distribution of {col}")
            plt.ylabel("Proportion")
            plt.show()

    print("===== Bivariate Analysis ====")
    # Scatter plots for numeric vs numeric
    if 'Unit_Size_Sqft' in df.columns and 'Ticket_Price_Cr' in df.columns:
        plt.figure(figsize=(8,5))
        sns.scatterplot(x='Unit_Size_Sqft', y='Ticket_Price_Cr', data=df, hue='Transaction_Type')
        plt.title("Ticket Price vs Unit Size by Transaction Type")
        plt.show()

    # Boxplot: Price per sqft by Micro Market
    if 'Micro_Market' in df.columns and 'Price_per_Sqft' in df.columns:
        top_markets = df['Micro_Market'].value_counts().head(10).index
        plt.figure(figsize=(10,5))
        sns.boxplot(
            x='Micro_Market',
            y='Price_per_Sqft',
            data=df[df['Micro_Market'].isin(top_markets)]
        )
        plt.xticks(rotation=45)
        plt.title("Price per Sqft across Top 10 Micro Markets")
        plt.show()

    # Quarterly trend
    if {'Year','Quarter_Number','Ticket_Price_Cr'}.issubset(df.columns):
        quarterly_price = df.groupby(['Year','Quarter_Number'])['Ticket_Price_Cr'].mean().reset_index()
        plt.figure(figsize=(10,5))
        sns.lineplot(x='Quarter_Number', y='Ticket_Price_Cr', hue='Year', data=quarterly_price, marker='o')
        plt.title("Average Ticket Price per Quarter")
        plt.show()

    print("===== Multivariate Analysis ====")
    cols = ['Ticket_Price_Cr','Unit_Size_Sqft','Price_per_Sqft','Quarter_Number','Booking_Flag']
    available = [c for c in cols if c in df.columns]
    if len(available) > 1:
        plt.figure(figsize=(8,6))
        sns.heatmap(df[available].corr(), annot=True, cmap="coolwarm")
        plt.title("Correlation Heatmap")
        plt.show()
    print("EDA complete.")

In [ ]:
def save_clean_csv(df: pd.DataFrame, output_path: str):
    """Save cleaned DataFrame to CSV."""
    df.to_csv(output_path, index=False)
    print(f" Cleaned data saved as {output_path}")

In [ ]:
luxury_housing_df = drop_duplicates(luxury_housing_df)
luxury_housing_df = convert_types(luxury_housing_df)
luxury_housing_df = normalize_columns(luxury_housing_df)
luxury_housing_df = absolute_values(luxury_housing_df)
luxury_housing_df = handle_missing_values(luxury_housing_df)
luxury_housing_df = derive_columns(luxury_housing_df)

print("Data processing complete.")
luxury_housing_df.head()

Dropped 1000 duplicate rows.
 Handling missing values...
 Filled missing values in numeric column 'Unit_Size_Sqft' with median = 5990.0
 Filled missing values in numeric column 'Ticket_Price_Cr' with median = 12.035263970516692
 Filled missing values in numeric column 'Amenity_Score' with median = 7.49976649202713
Filled missing Buyer_Comments with 'No Comments Provided'
 Filled missing values in categorical column 'Property_ID' with mode = PROP000001
 Filled missing values in categorical column 'Micro_Market' with mode = Jayanagar
 Filled missing values in categorical column 'Project_Name' with mode = Project_0
 Filled missing values in categorical column 'Developer_Name' with mode = Prestige
 Filled missing values in categorical column 'Configuration' with mode = 5Bhk+
 Filled missing values in categorical column 'Transaction_Type' with mode = Primary
 Filled missing values in categorical column 'Buyer_Type' with mode = Cxo
 Filled missing values in categorical column 'Purchase_Quarter' with mode = 2024-03-31
 Filled missing values in categorical column 'Possession_Status' with mode = Under Construction
 Filled missing values in categorical column 'Sales_Channel' with mode = Online
 Filled missing values in categorical column 'NRI_Buyer' with mode = No
Data processing complete.

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,...,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments,Price_per_Sqft,Quarter_Number,Year,Booking_Flag
0,PROP000001,Sarjapur Road,Project_0,Rmz,4025.0,4Bhk,12.750846,Primary,Nri,2025-03-31,...,Launch,Broker,Yes,9.212491,18,Loved The Amenities!,31679.120594,1,2025,1
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292152,Primary,Other,2024-06-30,...,Under Construction,Nri Desk,No,7.723898,106,No Comments Provided,28284.985887,2,2024,1
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4Bhk,10.517724,Primary,Hni,2023-12-31,...,Ready To Move,Direct,Yes,6.985493,113,Agent Was Not Responsive.,13646.976013,4,2023,1
3,PROP000004,Bellary Road,Project_3,Embassy,6192.0,3Bhk,9.396367,Primary,Hni,2024-03-31,...,Ready To Move,Online,Yes,6.100929,106,Excellent Location!,15175.012103,1,2024,1
4,PROP000005,Koramangala,Project_4,Snn Raj,7147.0,4Bhk,15.345392,Secondary,Hni,2024-12-31,...,Under Construction,Broker,No,5.312510,18,Too Far From My Office.,21471.096187,4,2024,0

In [ ]:
save_clean_csv(luxury_housing_df, 'luxury_housing_cleaned.csv')

 Cleaned data saved as luxury_housing_cleaned.csv

In [ ]:
# Standardize text columns
df['Micro_Market'] = df['Micro_Market'].str.title().str.strip()
df['Developer_Name'] = df['Developer_Name'].str.title().str.strip()
df['Configuration'] = df['Configuration'].str.upper().str.replace('+', 'PLUS', regex=False)
df['Possession_Status'] = df['Possession_Status'].str.title().str.strip()
df['Sales_Channel'] = df['Sales_Channel'].str.title().str.strip()
df['Buyer_Type'] = df['Buyer_Type'].str.upper().str.strip()  # NRI, HNI, CXO

In [ ]:
from google.colab import files
files.download("luxury_housing_cleaned.csv")